*{
    margin: 0;
    padding: 0;
}

.img1 img {
    width: 15%;
}

#encabezado {
    display: flex;
    justify-content: center;

    width:100% ;
    height:50% ;
    background-color: brown;
    margin-bottom: 10%;
}

.nav{
    display: flex;
    align-items: center;
      list-style-type: none;
      overflow: hidden;
      text-align: right;
      font-family: 'Bebas Neue', cursive;
    
}
ul {
    margin-left: 50%;
}

.nav  li {
    list-style: none;
    float:left;
}
ul {
        margin-left: 50%;
    }


